In [ ]:
### Ordinal Number Encoding
Ordinal number encoding is used in pandas to transform categorical variables into numerical representations, preserving the inherent order or hierarchy between categories. This is particularly useful when working with categorical data that has a natural order, such as "low", "medium", and "high " or "strongly disagree", "disagree", "neutral", "agree", and "strongly agree".

In [33]:
import datetime

In [34]:
today_date=datetime.datetime.today()

In [35]:
today_date

datetime.datetime(2024, 9, 26, 21, 28, 8, 848861)

In [36]:
today_date-datetime.timedelta(3)

datetime.datetime(2024, 9, 23, 21, 28, 8, 848861)

In [37]:
### List comprehensive
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [38]:
days

[datetime.datetime(2024, 9, 26, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 25, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 24, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 23, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 22, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 21, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 20, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 19, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 18, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 17, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 16, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 15, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 14, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 13, 21, 28, 8, 848861),
 datetime.datetime(2024, 9, 12, 21, 28, 8, 848861)]

In [39]:
import pandas as pd
data=pd.DataFrame(days)

In [40]:
data.columns=['Day']

In [41]:
data.head()

                         Day
0 2024-09-26 21:28:08.848861
1 2024-09-25 21:28:08.848861
2 2024-09-24 21:28:08.848861
3 2024-09-23 21:28:08.848861
4 2024-09-22 21:28:08.848861

In [42]:
data.dtypes

Day    datetime64[ns]
dtype: object

In [43]:
data['Weekday']=data['Day'].dt.day_name()

In [44]:
data.head()

                         Day    Weekday
0 2024-09-26 21:28:08.848861   Thursday
1 2024-09-25 21:28:08.848861  Wednesday
2 2024-09-24 21:28:08.848861    Tuesday
3 2024-09-23 21:28:08.848861     Monday
4 2024-09-22 21:28:08.848861     Sunday

In [45]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [46]:
data['Weekday_Ordinal']=data['Weekday'].map(dictionary)

In [47]:
data.head()

                         Day    Weekday  Weekday_Ordinal
0 2024-09-26 21:28:08.848861   Thursday                4
1 2024-09-25 21:28:08.848861  Wednesday                3
2 2024-09-24 21:28:08.848861    Tuesday                2
3 2024-09-23 21:28:08.848861     Monday                1
4 2024-09-22 21:28:08.848861     Sunday                7